*{
    box-sizing: border-box;

}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F1F1F1!important;
}
#notes span {
    background-color: yellow !important;
    font-weight: bold;
    
}

.liked{
    color: red !important;
}